@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    list-style-type: none;
    font-weight: normal;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

body {
    background-color: #F4F5F6;
}

html { 
    scroll-behavior: smooth;
}

main {
    margin-left: 130px;
}

/* ----------HEADER SECTION---------- */

/* Flex container */
.nav-section { 
    flex-wrap: wrap;
    justify-content: space-between;
    letter-spacing: 1px;
}

.nav-side {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    top: 0;
    position: fixed;
    height: 100vh;
    justify-content: space-between;
}


.nav-image {
    width: 50px;
}


.nav-links { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    letter-spacing: 0; 
    margin-top: 4rem;
}

.nav-links a {
    font-weight: 700;
    font-size: 13px;
}

.nav-links a:hover {
    color: #31aae2;
    font-weight: bold;
}

.header-sm {
    align-items:baseline;    
}

.header-sm img {
    width: 24px;
}

.nav-title { 
    margin-left: 20rem;
    margin-top: 16rem;
}

.nav-title h1 {
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
}

.main-image img {
    width: 55%;
    top: 0rem;
    right: 0rem;
    position: absolute;
    z-index: -1;
}

.hamburger-hidden {
    display: none;
}


/* ---------- MAIN ---------- */

.container {
    margin-top: 30rem;
}


/* ----------MY PROFILE PAGE---------- */


/* Block container */
#profile-container {
    padding: 3rem 2rem;
}

#profile-container h2 {
    position: relative;/* For underline */
    margin-bottom: 3rem;
    font-size: 25px;
    text-align: center;
}

#profile-container h2:before {
    content: '';
    position: absolute; /* For underline */
    left: 50%;
    bottom: -5px; /*Vertical position of line*/
    width: 100px; /*Line length*/
    height: 1px; /*Line thickness*/
    transform: translateX(-50%); /*Justidication*/
    background-color: black; /*Line color*/
    border-radius: 2px; /*Roundness of a line*/
}

.profile-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profile h3 {
    position: relative;/* For underline */
    font-size: 20px;
    margin-top: 1rem;
}


.profile h3:before { 
    content: '';
    position: absolute; /* For underline */
    left: 50%;
    bottom: -5px; /*Vertical position of line */
    width: 100px; /*Line length */
    height: 1px; /*Line thickness */
    transform: translateX(-50%); /*Justification */
    background-color: black; /*Line color */
    border-radius: 2px; /*Roundness of a line */
} 

.profile p {
    font-size: 18px;
}


.map iframe { /* Google Map */
    top: 0;
    width: 30vw;
    height: 30vh;
}


/* ----------MY HOBBY PAGE---------- */


/* Flex container */
#hobby-container {
    padding: 3rem 4rem 8rem 4rem;
}

#hobby-container h2 {
    position: relative;/* For underline */
    margin-bottom: 4rem;
    font-size: 25px;
    text-align: center;
}

#hobby-container h2:before {
    content: '';
    position: absolute; /* For underline */
    left: 50%;
    bottom: -5px; /*Vertical position of line*/
    width: 100px; /*Line length*/
    height: 1px; /*Line thickness*/
    transform: translateX(-50%); /*Justidication*/
    background-color: black; /*Line color*/
    border-radius: 2px; /*Roundness of a line*/
}

.hobby-section {
    display: flex;
    flex-direction: row-reverse;
}

/* Sidebar */

.hobby-sidebar {
    text-align: center;
}

.hobby-sidebar ul {
    display: flex;
    flex-direction: column; /* Vertical item */
    row-gap: 3rem;
    position: sticky; /* Tracking sidebar */
    top: 8rem;
}

.hobby-sidebar li {
    border-right: #31aae2 solid 2px;
    padding-right: 1rem;
}

.hobby-sidebar a {
    font-size: 20px;
    color: #aaaaaa;
}

.hobby-sidebar img { /* Scroll arrow img */
    width: 20px;
    margin-left: auto;
    position: sticky; /* Tracking sidebar */
    top: 62%;
}

.li-hobby {
    position: relative; /* For sidebar links */
    padding-left: 10px;
}

.li-hobby a:hover {
    color: black;
}

.li-hobby a::after {
    position: absolute; /* For sidebar links */
    bottom: 0; /*Vertical position of line*/
    left: 50%; /* Justification */
    content: '';
    width: 0; /* Spreading under line */
    height: 2px; /*Line thickness*/
    background-color: #31aae2; /* Line color */
    transition: .3s; /* Spreading speed of underline */
    transform: translateX(-50%); /* Justification */
  }
  
.li-hobby a:hover::after{
    width: 100%;
}

/* Gallery */

.hobby-gallery h3 {
    font-size: 25px;
    margin-bottom:1rem;
}

.fishing {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


.fishing img {
    height: 205px;
    width: 100%;
}

.fishing img:hover{
    transform: scale(1.05);
    transition: transform 0.6s ease;
}

/*--------------------------------------------*/

.snowboarding {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


.snowboarding img {
    height: 205px;
    width: 100%;
}

.snowboarding img:hover{
    transform: scale(1.05);
    transition: transform 0.6s ease;
}


/*--------------------------------------------*/

.camping {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.camping img {
    height: 205px;
    width: 100%;
}

.camping img:hover{
    transform: scale(1.05);
    transition: transform 0.6s ease;
}

/*--------------------------------------------*/

.motorcycle {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


.motorcycle img {
    height: 205px;
    width: 100%;
}

.motorcycle img:hover{
    transform: scale(1.05);
    transition: transform 0.6s ease;
}

/*--------------------------------------------*/

.sakamoto {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


.sakamoto img {
    height: 205px;
    width: 100%;
}

.sakamoto img:hover{
    transform: scale(1.05);
    transition: transform 0.6s ease;
}

/* ----------MY FAMILLY PAGE---------- */

/* Block container with float*/
#familly-container {
    padding: 3rem 4rem 8rem 4rem;
}

.familly-section {
    padding: 2rem 1rem;
    text-align: center;
}

.familly-section img {
    width: 40vw;
} 

.familly-section h1{
    font-size: 30px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.familly-section h2 {
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.familly-section p {
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ----------SAKAMOTO PAGE---------- */

/* Block container with float*/
#cat-container {
    padding: 3rem 4rem 8rem 4rem;
}

.cat-section {
    padding: 0 1rem;
    text-align: center;

}

.cat-section img {
    width: 40vw;
} 

.cat-section h1{
    font-size: 30px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.cat-section h2 {
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.cat-section p {
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ----------FOOTER---------- */

/* Flex container */
#footer-container {
    display: flex;
    background-color: #696969;
    color: #f9f9f9;
    text-align: center;
    flex-direction: column; /* For my design */
}

#footer-container a {
    color: #f9f9f9;
}

/* Flex box and items */
.footer-logo, .footer-links, .footer-sm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    column-gap: 20px;
    padding: 30px;
}

.footer-logo img {
    width: 50px;
}

.footer-links {
    column-gap: 4%;
    margin-bottom: 50px;
}

.footer-links a:hover {
    font-weight: bold;
}

.footer-sm { /* Social Media logo */
    column-gap: 20px;
    padding-bottom: 15px;
}

.footer-sm img{
    width: 30px;
}

.footer-sm :hover{
    transform: translateY(-5px);
    transition: .3s;
}

.hamburger-hidden {
    display: none;
}

.sp-links {
    display: none;
}

.hamburger-link {
    display: none;
}

.sp-sm {
    display: none;
}

@media only screen and (max-width: 1000px) {
    *{
        margin: 0;
        padding: 0;
    }

    main {
        margin-left: 130px;
        padding: 0;
    }

    .nav-side {
        gap: 2rem;
        justify-content: start;
    }
    
    .main-image img{
        width: 60vw;
    }

    .nav-title {
        margin: 0;
        padding-top: 29rem;
        padding-left: 10rem;
    }

    .nav-title h1 {
        font-size: 30px;
    }

    #profile-container {
        padding: 2rem;
        margin-top: -25rem;
    }

    .map iframe {
        width: 60vw;
    }
    
    #hobby-container {
        padding: 1rem;
    }

    #hobby-container h2 {
        margin-bottom: 2rem;
    }

    .hobby-section {
        flex-direction: column;
        align-items: center;
    }

    .hobby-section h3 {
        margin: 2rem 0 1rem 0;
    }

    .hobby-sidebar ul{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .hobby-sidebar a {
        font-size: 16px;
    }

    .fishing,
    .camping,
    .snowboarding,
    .motorcycle,
    .sakamoto {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #familly-container {
        padding: 1rem;
    }

    #cat-container {
        padding: 1rem;
    }

    .footer-links {
        display: none;
    }

}




@media only screen and (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
    }

    main {
        margin: 0;
        padding: 0;
    }
    
    .hamburger-open {
        position: fixed;  /* 位置を固定 */
        top: 0;  /* 最上部 */
        right: 0;  /* 右端 */
        /* 中の要素を上下中央寄せ */
        display: flex;
        justify-content: center;
        align-items: center;
        /* サイズ指定 */
        height: 70px;
        width: 70px;
        z-index: 100;
        cursor: pointer;
    }

    .hamburger-open span,         /* 真ん中の線 */
    .hamburger-open span:before,  /* 上の線 */
    .hamburger-open span:after {  /* 下の線 */
        content: "";
        display: block;
        height: 3px;
        width: 30px;
        border-radius: 3px;
        background-color: #333333;
        transition: .5s;
        /* 3本線の位置は絶対位置で指定 */
        position: absolute;
    }
  /* 上の線の位置 */
    .hamburger-open span:before {
        /* 真ん中の線と離す距離 */
        bottom: 8px;
    }
  /* 下の線の位置 */
    .hamburger-open span:after {
        /* 真ん中の線と離す距離 */
        top: 8px;
    }

    #hamburger-check:checked ~ .hamburger-open span {
        background: rgba(255, 255, 255, 0);
      }

    #hamburger-check:checked ~ .hamburger-open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
      
    #hamburger-check:checked ~ .hamburger-open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    /* メニューのデザイン*/
    .hamburger-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;/* メニューを画面の外に飛ばす */
        z-index: 99;
        transition: 1s;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .hamburger-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 6rem;
    }

    .hamburger-link li{
        margin-top: 0.5rem;
    }

    .hamburger-link a {
        font-weight: 700;
        font-style: italic;
        display: inline-block;
        font-size: 20px;
        text-align: center;
    }

    .hamburger-sm {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-top: 2rem;
    }

    /* アイコンがクリックされたらメニューを表示 */
    #hamburger-check:checked ~ .hamburger-content {
    left: 0vw;/* メニューを画面に入れる */
    }

    .header-sm {
        display: none;
    }

    .sp-sm {
        display: block;
    }
    
    .sp-sm img {
        width: 35px;
    }

    .nav-links {
        display: none;
    }

    .main-image img{
        width: 90%;
        top: 8rem;
        left: 1rem;
        right: 1rem;
        text-align: center;
    }

    .nav-title {
        margin: 0;
        padding-left: 0;
        padding-top: 30rem;
    }

    .nav-title h1 {
        font-size: 30px;
        text-align: center;
    }

    #profile-container {
        padding: 2rem;
    }

    .map iframe {
        width: 100%;
    }
    
    #hobby-container {
        padding: 1rem;
    }

    #hobby-container h2 {
        margin-bottom: 2rem;
    }

    .hobby-section {
        flex-direction: column;
        align-items: center;
    }

    .hobby-section h3 {
        margin: 2rem 0 1rem 0;
    }

    .hobby-sidebar ul{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .hobby-sidebar a {
        font-size: 16px;
    }

    .fishing,
    .camping,
    .snowboarding,
    .motorcycle,
    .sakamoto {
        flex-direction: column;
        align-items: center;
    }

    #familly-container {
        padding: 1rem;
    }

    #cat-container {
        padding: 1rem;
    }

    .footer-links {
        display: none;
    }

}

